@font-face {
    font-family: 'Roboto';
    src: url(https://fonts.googleapis.com/css?family=Roboto);
}
.mainPane{
    -fx-background-color:#444444;
}
.dashboard{
    -fx-padding:10;
}
.dashboard Label{
    -fx-text-fill:white;
    -fx-font-size:30;
}


.chatScroll {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color:#444444;
}

.chatScroll:focused {
    -fx-background-insets: 0;
}

.chatScroll .corner {
    -fx-background-insets: 0;
}
.chatPane{
    -fx-background-insets: 0 ;
    -fx-background-color:#444444;
}
.chatLine{
-fx-font-size:20;
-fx-padding:10 10 0 0;
-fx-border-color: transparent  transparent gray transparent;
-fx-border-size:1;
}
.chatUser{
    -fx-text-fill: white;
}
.chatMessage{
    -fx-text-fill: white;
}
.menuPane{
    -fx-background-color:#262626;
}
.menuButton{
    -fx-background-color:transparent;
    -fx-text-fill: white;
    -fx-padding:30;
    -fx-font-family: "Roboto";
    -fx-font-size:20;
    -fx-cursor:hand;

    -fx-border-color: transparent transparent #909090 transparent;
    -fx-border-width:1;
}
.menuButton:hover{
    -fx-background-color:#575757;
    
}
.selectedMenuBtn{
    -fx-background-color:#535353;
    -fx-border-color:transparent red transparent transparent;
    -fx-border-size:1;
}